<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
    <link rel="stylesheet" href="styles/employees.css">
</head>

<body>
    <!-- header -->
    <header>
        <h1 class="logo">Trippicer</h1>
        <div class="btnContainer">
            <!-- important -->
            <div class="addEmployee" onclick="addEmployee()">Add employee</div>
            <div class="logoutButton" onclick="logOut()">Log out</div>
        </div>
    </header>
    <!-- row 1 -->
    <div class="row1">
        <% if (result) {%>
            <!-- important -->
            <h1 class="heading">Employees</h1>
            <% for (const employee of result) {%>
            <div class="employeeCard">
                <!-- important -->
                <div class="details">
                    <h2><%= employee.name %></h2>
                    <h4><%= employee.position %></h4>
                    <h4 id="">&#8358; <%= employee.salary.toLocaleString() %> / Month</h4>
                </div>
                <div class="terminateContract" tkn="<%= employee._id %>" onclick="terminateContract(event)">End Contract</div>
            </div>
            <% } %>
        <% } else { %>
            <h1 class="heading">No employees</h1>
        <% } %>
    </div>
    <!-- footer -->
    <footer>
        <div class="powered">powered by <img src="https://cdn.freebiesupply.com/logos/large/2x/nodejs-1-logo-png-transparent.png" alt="NodeJS Logo" height="40px"></div>
        <div>&copy; Obaro, 2025 (Fullstack Developer)</div>
        <div><a href="mailto:dietakeobaro7@gmail.com">Mail me</a></div>
    </footer>

    <script>
        window.onload = () => {
            if (!sessionStorage.getItem("status")) {
                replaceAndReload()
            }
        }

        const logOut = () => {
            sessionStorage.removeItem("status")
            if (!sessionStorage.getItem("status")) {
                replaceAndReload()
            }
        }

        const addEmployee = () => {
            history.replaceState(null, "", "/employee/add")
            location.reload()
        }

        const terminateContract = (event) => {
            const termConBtn = event.target
            const employeeID = termConBtn.getAttribute("tkn")
            const endPoint = "/employee/delete/" + employeeID

            fetch(endPoint, {
                method: "DELETE",
            })
            .then(res => res.text())
            .then(data => {
                history.replaceState(null, "", data)
                location.reload()
            })
        }

        const replaceAndReload = () => {
            history.replaceState(null, "", "/")
            location.reload()
        }
    </script>
</body>

</html>