<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <header>
        <h1 class="logo">Trippicer</h1>
    </header>
    <div class="row1">
        <form action="/" method="post">
            <h2>Login</h2>
            <div class="inputContainer">
                <input type="text" name="username" placeholder="username" required>
            </div>
            <div class="inputContainer">
                <input type="password" name="password" placeholder="password" required>
            </div>
            <button type="submit">Log in</button>
            <% if (message) { %>
                <div>Invalid username or password</div>
            <% } %>
        </form>
    </div>

    <% if (status) { %>
        <script>
            window.onload = () => {
                sessionStorage.setItem("status", "loggedin")
                history.replaceState(null, "", "/employees")
                location.reload()
            }
        </script>
    <% } %>
</body>
</html>