<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP Page</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

    * {
      box-sizing: border-box;
      margin: 0;
      font-family: "Ubuntu";
    }

    body {
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      background-color: #253752;
      color: #fff;
      padding: 16px;
    }

    input {
      border: 0;
      border-radius: 4px;
      display: block;
      padding: 8px;
      min-width: 350px;
      margin: 16px 0;
    }

    button {
      border: 0;
      padding: 8px 16px;
      background-color: #256ad1;
      color: #fff;
      cursor: pointer;
    }

    form {
      margin-bottom: 16px;
    }
  </style>
</head>

<body>
  <form action="/otp" method="post">
    <h3>Enter OTP</h3>
    <p>
      <input type="text" name="otp" placeholder="OTP" required>
    </p>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
  <% if(msg) { %>
    <p>
      <%= msg %>
    </p>
  <% } %>
</body>

</html>