<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pre Survey</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

    * {
      box-sizing: border-box;
      margin: 0;
      font-family: "Ubuntu";
    }

    body {
      display: flex;
      flex-direction: column;
      background-color: #253752;
      padding: 16px;
      color: #fff;
    }

    h1 {
      font-size: 64px;
      color: #fc0000;
      margin-bottom: 16px;
    }

    h3 {
      line-height: 32px;
    }

    a {
      color: #7aa5e6
    }
  </style>
</head>

<body>
  <h3>You scored above average in the test. You can now take the survey</h3>
  <div>
    <h3>
      <a href="/survey">Take Survey</a>
    </h3>
  </div>
</body>

</html>