* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: verdana;
}
img {
  width: 100%;
}
footer {
  padding: 48px 16px;
}
.skills, .projects, .contact-me {
  padding: 32px 16px;
}
section:nth-child(odd) {
  background-color: #eee;
}
footer {
  background-color: #000;
  color: #fff;
}
.container {
  max-width: 700px;
  margin: 0 auto;
}
.intro {
  background-image: url("images/header bg.jpg");
  background-size: 200%;
  background-attachment: fixed;
  animation: animate 10s ease-in-out infinite alternate;
}
.intro .effect {
  background-image: linear-gradient(to right, #000, transparent);
}
.intro .effect .container {
  padding: 32px 16px;
}
.intro .effect .container * {
  color: #fff;
}
.intro .effect .container h1 {
  font-size: 56px;
  margin-bottom: 16px;
}
.skills h2 {
  padding: 16px 0;
  margin-bottom: 16px;
}
.skills h3 {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 8px;
}
.skills .skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}
.skills .skill-card {
  box-shadow: 0 8px 16px #ccc;
}
.skills img {
  aspect-ratio: 3/1;
  object-fit: cover;
}
.projects h2,
.contact-me h2 {
  margin-bottom: 16px;
  padding: 16px 0;
}
.contact-me img {
  width: 24px;
  vertical-align: middle;
  margin-right: 16px;
}
.contact-me a {
  display: block;
  width: fit-content;
  line-height: 48px;
  color: #000;
  text-decoration: none;
}
.contact-me a:hover {
  color: #00f;
}
.project-card {
  background-image: url("images/Blog Site.png");
  aspect-ratio: 2.5/1;
  background-position: 50% 0;
  background-size: 100%;
  transition: background-size 1s ease;
}
.project-card:hover {
  background-size: 200%;
  font-size: 24px;
}
.project-card .effect {
  height: 100%;
  padding: 16px;
  background-image: linear-gradient(to top, #000, transparent);
  display: flex;
  align-items: flex-end;
  transition: background-image 1s ease;
}
.project-card .effect a {
  color: #fff;
  transition: font-size 1.5s ease;
}
@media (min-width: 640px) {
  .skills img {
    aspect-ratio: 2/1;
  }
}
@-moz-keyframes animate {
  100% {
    background-size: 100%;
  }
}
@-webkit-keyframes animate {
  100% {
    background-size: 100%;
  }
}
@-o-keyframes animate {
  100% {
    background-size: 100%;
  }
}
@keyframes animate {
  100% {
    background-size: 100%;
  }
}
