@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Kaushan+Script&family=Titan+One&display=swap');

* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #eee;
}

img,
a {
    display: block;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #fff;
}

header .logo {
    font-family: "Kaushan Script";
    font-size: 48px;
}

header .btnContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .btnContainer * {
    padding: 8px;
    color: #fff;
    cursor: default;
}

header .btnContainer .logoutButton {
    background-color: #f11;
}

header .btnContainer .addEmployee {
    background-color: #000;
}

/* row 1 */
.row1 {
    padding: 0 40px;
}

.row1 .heading {
    margin: 20px 0;
}

.row1 .employeeCard {
    background-color: #fff;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 0 5px #ccc;
}

.row1 .details {
    flex: 1;
}

.row1 .terminateContract {
    align-self: center;
    background-color: #f11;
    padding: 8px;
    color: white;
    cursor: default;
}

.row1 .details * {
    margin-bottom: 10px;
}

/* footer */
footer {
    background-color: #fff;
    padding: 10px 40px;
    color: #000;
}

footer>div {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

footer .powered {
    font-family: "Kaushan Script";
    display: flex;
    align-items: center;
    gap: 20px;
}

/* breakpoints */
@media (max-width: 550px) {
    header {
        display: block;
    }

    header > * {
        margin-bottom: 10px;
    }

    header,
    .row1,
    footer {
        padding: 10px;
    }


    h1,
    header .logo {
        font-size: 32px;
    }

    h2 {
        font-size: 16px;
    }
}
